<div id="menu">
    <div id="menuTitle">
        E-Authentication
    </div>
    <div id="user">
        <div id="avatar">
            <img src="../public/img/profile.png" id="avatarImg" alt="user"/>
        </div>
        <div id="greetingDiv">
            <div id="greeting">
                Welcome
            </div>
            <div id="username">
                User
            </div>
        </div>
    </div>
    <div class="navigation">

        <div class="aNavigationMenu">
            <div class="aNavigation">
                <div class="navigationIcon">
                    <i class="bi bi-house"></i>
                </div>
                <div class="navigationText">
                    Home
                </div>
                <div class="navigationArrow">
                    <i class="bi bi-caret-right-fill navRightArrow"></i>
                    <i class="bi bi-caret-down-fill navDownArrow"></i>
                </div>
            </div>
            <div class="menuList">
                <% if(!data){ %> 
                <a href="/login" class="menuLink">
                    <div class="aMenu">
                        <div class="menuIcon">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </div>
                        <div class="menuText">
                            Log in
                        </div>
                    </div>
                </a>
                <a href="/register" class="menuLink">
                    <div class="aMenu">
                    
                        <div class="menuIcon">
                            <i class="bi bi-person-plus-fill"></i>
                        </div>
                        <div class="menuText">
                            New User
                        </div>
                    </div>
                </a>
                <% } %> 
                <%if(data){%>
                    <% if(data.email&&data.username){ %> 
                        <a href="/dashboard" class="menuLink">
                            <div class="aMenu">
                            
                                <div class="menuIcon">
                                    <i class="bi bi-person-bounding-box"></i>
                                </div>
                                <div class="menuText">
                                    Dashboard
                                </div>
                            </div>
                        </a>
                        <a href="/users" class="menuLink">
                            <div class="aMenu">
                            
                                <div class="menuIcon">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="menuText">
                                    Users
                                </div>
                            </div>
                        </a>
                        <a href="/logout" class="menuLink">
                            <div class="aMenu">
                            
                                <div class="menuIcon">
                                    <i class="bi bi-box-arrow-right"></i>
                                </div>
                                <div class="menuText">
                                    Logout
                                </div>
                            </div>
                        </a>
                    <% }else if(data.otp){ %> 
                        <a href="/verify" class="menuLink">
                            <div class="aMenu">
                            
                                <div class="menuIcon">
                                    <i class="bi bi-key-fill"></i>
                                </div>
                                <div class="menuText">
                                    Verify
                                </div>
                            </div>
                        </a>
                    <% } %> 
                <% } %> 
            </div>
        </div>
    </div>
    </div>