<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>E Authentication</title>
</head>
<body>
    <div id="fullBody">
        <div id="menu">
        <div id="menuTitle">
            E-Authentication
        </div>
        <div id="user">
            <div id="avatar">
                <img src="../public/img/profile.png" id="avatarImg" alt="user"/>
            </div>
            <div id="greetingDiv">
                <div id="greeting">
                    Welcome
                </div>
                <div id="username">
                    User
                </div>
            </div>
        </div>
        </div>
        <div id="main">
            <h1>Welcome To E-Authentication System</h1>
        </div>
    </div>
</body>
</html>