#fullBody{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#menu{
    width: 20%;
    background-color: rgb(39, 39, 85);
    color: white;
    min-height: 100vh;
}

#menuTitle{
    width: 100%;
    height: 100px;
}

#user{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#avatar{
    position: relative;
    width: 25%;
    height: 0;
    padding-top: 25%;
}
#avatarImg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-sizing: border-box;
}
#greetingDiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
#greeting{
    height: 50%;
    display: flex;
    align-items: flex-end;
    padding-left: 2%;
    box-sizing: border-box;
}
#username{
    height: 50%;
    display: flex;
    align-items: flex-start;
    padding-left: 2%;
    box-sizing: border-box;
}


.navigation{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
}
.aNavigationMenu{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
}
.aNavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
}
.navigationIcon{
    width: 20%;
}
.navigationText{
    width: 60%;
}
.navigationArrow{
    cursor: pointer;
}
.navDownArrow{
    display: none;
}
.menuList{
    display: none;
    flex-direction: column;
}
.menuLink{
    text-decoration: none;
    display: flex;
    color: inherit;
}
.aMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    padding: 2px;
    box-sizing: border-box;
}
.menuIcon{
    width: 20%;
    margin-left: 20%;
}
.menuText{
    width: 80%;
}









