body{
    background-color: rgb(252, 252, 247);
}

#main{
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}
.mainContent{
    width: 80%;
    margin-left: 10%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
}
.inputDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
label{
    width: 20%;
}
.input{
    height: 25px;
    width: 50%;
}
.submit{
    background-color: rgb(4, 173, 80);
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    margin-left: 35%;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.successMessage{
    display: flex;
    margin-top: 2px;
    font-weight: 700;
    color: green
}
.errorMessage{
    display: flex;
    margin-top: 2px;
    font-weight: 700;
    color: red
}



/* Login */

.checkboxDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.aCheckbox{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin-bottom: 20px;
}

.lcheckboxLabel{
    width: 90%;
    display: flex;
    text-align: right;
    justify-content: end;
}
.checkboxLabel{
    display: flex;
}
.checkbox{
    height: 25px;
    width: 10%;
}
